<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top c-shadow">
  <a class="navbar-brand" href="#">Gift Cinch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/find-a-gift" routerLinkActive="active">Gift</a>
      </li>
    </ul>
    <div (click)="myGiftlist()" id="giftList" class="mr-3" data-toggle="collapse" data-target=".navbar-collapse.show">
      <span class="text-white">Gift List ({{ gl.heartedLength$ | async }})</span>
    </div>
  </div>
</nav>
<!-- ----- -->
<!-- Modal -->
<!-- ----- -->
<div class="modal fade" id="giftListModal" tabindex="-1" role="dialog" aria-labelledby="giftListModalLabel" aria-hidden="true">
    <!-- modal-dialog-centered -->
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header c-shadow">
        <h5 class="modal-title" id="giftListModalLabel">Your Gift List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- NgFor will display all available items on the list -->
        <section *ngIf="(gl.heartedLength$ | async) === 0">
          <h4>Your list is empty, add some gifts!</h4>
        </section>
        <section *ngIf="(gl.heartedLength$ | async) > 0">
          <ul class="list-unstyled">
            <li *ngFor="let gift of gl.heartedGifts$ | async | keyvalue" class="media my-2">
              <img class="mr-3" src="https://s3.amazonaws.com/gifts-keywords/images/razer-cynosa-chroma.jpg" height="64" width="64" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{ gift.value.product }}</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
              </div>
              <button type="button" class="close my-auto" aria-label="Close" (click)="gl.heartGift(gift.value, false)">
                <span aria-hidden="true" class="removeGift">&times;</span>
              </button>
            </li>
          </ul>
        </section>
      </div>
      <div class="modal-footer c-shadow" *ngIf="(gl.heartedLength$ | async) > 0">
        <button type="button" class="btn btn-primary c-shadow" data-dismiss="modal">Send Me The List</button>
      </div>
    </div>
  </div>
</div>