#giftList {
    cursor: pointer !important;
    opacity: 0.7;
}
#giftList:hover {
    opacity: 1;
}
.removeGift {
    color: #ed5f65 !important;
}
/* for media query try this height:   max-height: 70vh; */