<div class="text-center animated px-3 jumbotron py-5 c-shadow" #welcome id="welcome">
  <h1>Let's Get Started</h1>
  <h4 class="mt-5">
    We're going to ask you a few questions that will help us find the perfect gift for you.
    <!-- On the next screen,<br> choose the characteristics that best describe the person in question. -->
  </h4>
  <br>
  <!-- <h5>Select at least five words.</h5> -->
  <section class="mt-5">
    <button type="button" class="btn btn-warning btn-lg c-shadow" (click)="next()">Start</button>
  </section>
</div>