<div class="row traits mb-5">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
    <div class="text-center d-none animated" #traits>
      <h2>This Person:</h2>
      <span class="lead">(Choose at least 5 characteristics, feel free to choose more)</span>
      <section class="mt-5">
        <button *ngFor="let key of keywords" type="button" [ngClass]="['btn', 'btn-lg', 'mx-2', 'my-2', 'c-shadow', key.btn]" (click)="identifier(key); localVarCheck(key)">{{ key.who }}</button>
      </section>
      <button type="button" class="btn btn-warning cont c-shadow" (click)="continue()" #cont id="continue">Continue &#187;</button>
    </div>
  </div>
</div>